* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: url(assets/login.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 380px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container h1 {
    font-size: 40px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding: 10px 0;
    color: white;
}

.box {
    width: 100%;
    margin: 20px 0;
    border-bottom: 2px solid white;
}

.box input {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
}

.box i {
    width: 25px;
    text-align: left;
    color: white;
}

.btn {
    color: white;
    cursor: pointer;
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}



.btn:hover {
    color: white;
    background: rgba(0, 0, 0, 0.9);
}

#signUp {
    background: rgba(0, 0, 0, 0.7); 
}
