body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    margin-top: 150px;
}

.image-container img {
    max-width: 100%;
    height: auto;quotes: ;

}

.text {
    text-align: center;
    margin-top: 20px;
}
