

.lens{
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color:white;
    padding: 11spx;
}

.lens img{
    width: 18%;
    border: 2px solid white;
    border-radius: 5px;
}

.main img{
    width: 100%;
}

.lens img:hover{
    background-color: white;
    transform: translateY(-10px);
}



























.banner h2{
    margin-top: 100px;
    text-align: center;
    padding: 22px;
}

.banner .img img{
    margin-top: 50px;
    width: 100%;
}



 /*

.footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(173, 176, 173, 0.647);
    color: black;
    padding: 43px;
}

.footer .list ul{
    list-style: none;
}

*/



.footer{
    
    background-color: rgba(173, 176, 173, 0.647);
     
   /* background-position: center;
    background-attachment: fixed;*/
     
}

.footer .box-container{
    
    background-size: 100% 200px;
    display: grid;
    margin-left: 100px;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
    gap: 2rem;
     
}

.footer .box-container .box h2{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-top: 40px;

}

.footer .box-container .box a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
    
}

.footer .box-container .box a i{
    color: purple;
    padding-right: .5rem;
    transition: 2rem linear;
}

.footer .box-container .box a:hover i{
    color: blue;
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: .1rem solid black;
    font-size: 1rem;
    color: black;
     
}

.footer .credit span{
    color: red;
}
